<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>This file to activate the form</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

</head>
<body>
      <h1>It's working now</h1>
      <form action="/login" method="post">

    <label for="exampleFormControlInput1" class="col-form-label">Name</label>
      <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="name" name="username">
    <label for="exampleFormControlTextarea1" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleFormControlTextarea1" placeholder="password" name="password">
    <input type="submit" value="OK">
      </form>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>